<link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="sidebar-opener" type="type" class="btn btn-primary" (click)="showsidebar = !showsidebar">
  ← account navigation
</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="showsidebar">
  <div
      class="sidebar-close"
      (click)="showsidebar = !showsidebar"
  >
      X
  </div>
  <div class="sidebar-content">
    <button routerLink="/account" class="btn btn-primary">Account</button>
    <a routerLink="/group" (click)="groupNav(group)" *ngFor="let group of groups">{{group}}</a>
    <footer>
    <button type="type" class="btn btn-primary" routerLink="/login" (click)="logOut()">logOut</button>
    </footer>
  </div>
</div>


 
