h2{  
    text-align: left;  
    color: #000000;  
    padding: 20px;  
    background-color: rgb(73, 73, 236);
} 

h1{  
    text-align: center;  
    color: rgb(0, 0, 0);  
    padding: 20px;  
} 

header{
    background-color: beige;
}

