h2{  
    text-align: left;  
    color: #000000;  
    padding: 20px;  
    background-color: rgb(73, 73, 236);
} 

h1{  
    text-align: center;  
    color: rgb(0, 0, 0);  
    padding: 20px;  
} 

header{
    background-color: rgb(119, 173, 255);
}

footer{
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.form-login {
    width: 100%;
    max-width: 20em;
    padding: 1em;
    margin: auto;
  }
  
  .formClass{
  margin: auto;
  margin-top:10em;
  width:20%;
  padding:1em;
  background-color: white;
  }
  
  .glowing-border {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 1em #9ecaed;
  }

  .h5 {
    vertical-align: middle;
    width: 400px;
  }