<link rel="stylesheet" rel="noopener" target="_blank" href="account.component.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--Main Navigation-->

<header>
<h1> ACCOUNT HOMEPAGE</h1>

</header>

<!--Main Navigation-->
<h2>CHAT SELECTION</h2>


<!--Main layout-->

<main>
<p>Main home page to select chat room</p>
<p>needed: a list of groups 
    list of rooms for each group
    list of users in each group and room
</p>
</main>
<div *ngIf="roleCheck() == 'Super Admin'">
    <h1>Super Admin</h1>
    <p>
        
        create users with group admin role, remove all users, upgrade anyone to super admin, create groups, create channels, create or invite users, remove groups, rooms and users from channels

    </p>
    
</div>
<div *ngIf="roleCheck() == 'Group Admin'">
    <h1>Group Admin</h1>
       <p> 
        create groups, create channels, create or invite users, remove groups, rooms and users from channel
    </p>
</div>
<div *ngIf="roleCheck() == 'Group Assis'">
     <h1>Group Assis</h1>
     <p>
        
        can add or remove users in the group from channels within
        the group. create channels within the group.
    </p>
</div>

<div *ngIf="roleSet().createGroup == true"><button>create group</button></div>
<!--Main layout-->
<app-group-list></app-group-list>
<div *ngIf="roleSet().removeUser == true"><app-userlist></app-userlist>
    <input type="text" [(ngModel)]="username" name="username" />
    <button type="type" (click) = "deleteUser(username)">remove user</button></div>



            <div class="modal-header">
              <h5 class="modal-title">Create User</h5>
            </div>
            <div class="modal-body">
<div *ngIf="roleSet().createUser == true">
    
    <input type="text" [(ngModel)]="Nusername" name="username" />
    <input type="text" [(ngModel)]="Npassword" name="pwd" />  
</div>
</div>
<div class="modal-footer">
<button type="type" class="btn btn-primary" (click) = "createUser(Nusername, Npassword)">submit</button> 
</div>


<!--Footer-->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <button type="type" value="submit" (click) = "logOut()">Logout</button>
    </div>
  </footer>
<!--Footer-->