<link rel="stylesheet" rel="noopener" target="_blank" href="account.component.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--Main Navigation-->

<header>
<h1> ACCOUNT HOMEPAGE</h1>

</header>

  <app-sidenav></app-sidenav>

<div class = "glowing-border"><h1>welcome {{Currentname}}, {{role}}</h1></div>
  
  <div *ngIf = "role == 'Base User' || 'Group Assis'" position = "text-centre"><p>Use account navigation to enter group</p></div>

<div *ngIf="roleSet().createUser == true">
  
  <div style = "margin-top: 10px;" class="formClass glowing-border">
    <h3 class="h3 mb-3 fw-normal">Create User</h3>
    <body class = "text-centre">
    <main class = "form-signin w-100 m-auto">
      <form method="POST" class="form-login pt-5">
          <div class="form-group">
            <label for="username">Username</label>
    <input type="text" [(ngModel)]="Nusername" name="Nusername" placeholder="username" class="form-control" autocomplete="off"/> 
      </div>
      <div class="form-group">
        <label for="password">Password</label>
<input type="text" [(ngModel)]="Npassword" name="Npassword" placeholder="password" class="form-control"/> 
  </div>
  <div class="form-group">
    <label for="Nrole">Role</label>
<input type="text" [(ngModel)]="Nrole" name="Nrole" placeholder="role" class="form-control"/> 
</div>
  <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" (click) = "createUser()">submit</button> 
</form>
</main>
    </body>
  </div>

  <div *ngIf="roleSet().removeUser == true">
  
    <div style = "margin-top: 10px;" class="formClass glowing-border">
      <h3 class="h3 mb-3 fw-normal">Delete User</h3>
      <body class = "text-centre">
      <main class = "form-signin w-100 m-auto">
        <form method="POST" class="form-login pt-5">
        <div class="form-group">
          <div class="form-group">
            <label for="username">Username</label>
    <input type="username" [(ngModel)]="removeUser" name="removeUser" placeholder="username" class="form-control" autocomplete="off"/> 
      </div>
        </div>
  <button type="button" class="btn btn-lg btn-primary btn-block mt-3" (click) = "deleteUser()">submit</button> 
  </form>
  </main>
      </body>
    </div>


    <div *ngIf="roleSet().createGroup == true">
  
      <div style = "margin-top:10px" class="formClass glowing-border">
        <h3 class="h3 mb-3 fw-normal">Create Group</h3>
        <body class = "text-centre">
        <main class = "form-signin w-100 m-auto">
          <form method="POST" class="form-login pt-5">
          <div class="form-group">
            <div class="form-group">
              <label for="username">Group Name</label>
      <input type="text" [(ngModel)]="newGroupname" name="newGroupname" placeholder="group name" class="form-control"/> 
        </div>
          </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" (click) = "createGroup()">submit</button> 
    </form>
    </main>
        </body>
      </div>

      <div *ngIf="roleSet().updateUserChannelPerms == true">
  
        <div style = "margin-top: 10px;" class="formClass glowing-border">
          <h3 class="h3 mb-3 fw-normal">Change User Role</h3>
          <body class = "text-centre">
          <main class = "form-signin w-100 m-auto">
            <form method="POST" class="form-login pt-5">
                <div class="form-group">
                  <label for="username">Username</label>
          <input type="text" [(ngModel)]="updatedUser" name="updatedUser" placeholder="username" class="form-control" autocomplete="off"/> 
            </div>
            <div class="form-group">
              <label for="role">New Role</label>
      <input type="text" [(ngModel)]="newRole" name="newRole" placeholder="new role" class="form-control"/> 
            </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" (click) = "editRole()">submit</button> 
      </form>
      </main>
          </body>
        </div>
      </div>
   
      <div *ngIf="roleSet().deleteGroup == true">
  
        <div style = "margin-top: 10px;" class="formClass glowing-border">
          <h3 class="h3 mb-3 fw-normal">Delete Group</h3>
          <body class = "text-centre">
          <main class = "form-signin w-100 m-auto">
            <form method="POST" class="form-login pt-5">
            <div class="form-group">
              <div class="form-group">
                <label for="deletedGroup">Group Name</label>
        <input type="text" [(ngModel)]="deletedGroup" name="deletedGroup" placeholder="group name" class="form-control" autocomplete="off"/> 
          </div>
            </div>
      <button type="button" class="btn btn-lg btn-primary btn-block mt-3" (click) = "deleteGroup()">submit</button> 
      </form>
      </main>
          </body>
        </div>
      </div>


       


        
