<link rel="stylesheet" rel="noopener" target="_blank" href="account.component.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--Main Navigation-->

<header>
<h1> ACCOUNT HOMEPAGE</h1>

</header>

<!--Main Navigation-->
<h2>CHAT SELECTION</h2>


<!--Main layout-->

<main>
  <app-sidenav></app-sidenav>
<p>Main home page to select chat room</p>
</main>
<div *ngIf="roleCheck() == 'Super Admin'">
    <h1>Super Admin</h1> 
</div>
<div *ngIf="roleCheck() == 'Group Admin'">

</div>
<div *ngIf="roleCheck() == 'Group Assis'">
     <h1>Group Assis</h1>
</div>







<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
<div *ngIf="roleSet().createGroup == true" mat-menu-item (click)="$event.stopPropagation();"><mat-accordion><mat-expansion-panel><mat-expansion-panel-header><mat-panel-title>Create Group</mat-panel-title></mat-expansion-panel-header><mat-action-row><button>create group</button></mat-action-row></mat-expansion-panel></mat-accordion></div>
<!--Main layout-->

<div *ngIf="roleSet().removeUser == true" mat-menu-item (click)="$event.stopPropagation();">
    <input type="text" [(ngModel)]="username" name="username" placeholder="username" />
    <button type="type" (click) = "deleteUser(username)">remove user</button></div>



            <div class="modal-header" b>
              <h5 class="modal-title">Create User</h5>
            </div>
            <div class="modal-body">
<div *ngIf="roleSet().createUser == true">
    
    <input type="text" [(ngModel)]="Nusername" name="username" />
    <input type="text" [(ngModel)]="Npassword" name="pwd" />  
</div>
</div>
</mat-menu>
<div class="modal-footer">
<button type="type" class="btn btn-primary" (click) = "createUser(Nusername, Npassword)">submit</button> 
</div>


<!--Footer-->
<footer class="footer mt-auto py-3 bg-light">

  </footer>
<!--Footer-->