h2{  
    text-align: left;  
    color: #277582;  
    padding: 20px;  
    background-color: rgb(177, 177, 255);
} 

h1{  
    text-align: center;  
    color: red;  
    padding: 20px;  
} 

header{
    background-color: beige;
}
