<app-sidenav></app-sidenav>
<div class="glowing-border" position = "text-centre" >
  <h1 position = 'text-centre'>Group Page: {{currentGroup}}</h1></div>

<div *ngIf = "role == 'Super Admin' || 'Group Admin'">
  <div style = "margin-top: 10px; height: auto;" class="formClass glowing-border">
  <h2 class="h3 mb-3 fw-normal">Add User to {{currentGroup}}</h2>
  <body class = "text-centre">
  <main class = "form-signin w-100 m-auto">
    <form method="POST" class="form-login pt-5">
    <div class="form-group">
      <label for="user">User to add</label>
      <input type="text" name="user" id="user" [(ngModel)]="user" class="form-control">
  </div>
  <button type="submit" (click)="addGroupUser()" class="btn btn-lg btn-primary btn-block mt-3">Add user to group</button>
  </form>
  </main>
  </body>
</div>


  <div style = "margin-top: 10px; height: auto;" class="formClass glowing-border">
    <h2 class="h3 mb-3 fw-normal">Remove User from {{currentGroup}}</h2>
    <body class = "text-centre">
    <main class = "form-signin w-100 m-auto">
      <form method="POST" class="form-login pt-5">
      <div class="form-group">
        <label for="removedUser">User to remove</label>
        <input type="text" name="removedUser" id="removedUser" [(ngModel)]="removedUser" class="form-control">
    </div>
    <button type="submit" (click)="removeUser()" class="btn btn-lg btn-primary btn-block mt-3">remove user from group</button>
    </form>
    </main>
    </body>
</div>
<div class="form-login pt-5 glowing-border margin-top: 10px">
<label>Channel List</label>
<li><a class="dropdown-item" routerLink="/channel" href="#" (click)="channelNav(channel)" *ngFor="let channel of channelArr">{{channel}}</a></li>
</div>
</div>
<div class="form-login pt-5 glowing-border margin-top: 10px">
  <label>User List</label>
  <li><p class="dropdown-item" routerLink="/channel" href="#" *ngFor="let users of userArr">{{users}}</p></li>
  </div>

  <div *ngIf="roleSet().createChannel == true">
  
    <div style = "margin-top: 10px;" class="formClass glowing-border">
      <h3 class="h3 mb-3 fw-normal">Delete Channel</h3>
      <body class = "text-centre">
      <main class = "form-signin w-100 m-auto">
        <form method="POST" class="form-login pt-5">
        <div class="form-group">
          <div class="form-group">
            <label for="deletedchannel">Channel Name</label>
    <input type="text" [(ngModel)]="deletedchannel" name="deletedchannel" placeholder="Channel name" class="form-control" autocomplete="off"/> 
      </div>
        </div>
  <button type="button" class="btn btn-lg btn-primary btn-block mt-3" (click) = "deleteChannel()">submit</button> 
  </form>
  </main>
      </body>
    </div>


    <div style = "margin-top: 10px;" class="formClass glowing-border">
      <h3 class="h3 mb-3 fw-normal">Add Channel</h3>
      <body class = "text-centre">
      <main class = "form-signin w-100 m-auto">
        <form method="POST" class="form-login pt-5">
        <div class="form-group">
          <div class="form-group">
            <label for="newchannel">Channel Name</label>
    <input type="text" [(ngModel)]="newChannel" name="newChannel" placeholder="Channel name" class="form-control" autocomplete="off"/> 
      </div>
        </div>
  <button type="button" class="btn btn-lg btn-primary btn-block mt-3" (click) = "addChannel()">submit</button> 
  </form>
  </main>
      </body>
    </div>
  </div>