.form-login {
    width: 100%;
    max-width: 20em;
    padding: 1em;
    margin: auto;
  }
  
  .formClass{
  margin: auto;
  margin-top:10em;
  width:20%;
  padding:1em;
  background-color: white;
  }
  
  .glowing-border {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 1em #9ecaed;
  }
  h1{  
    text-align: center;  
    color: rgb(0, 0, 0);  
    padding: 20px;  
} 

header{
  background-color: rgb(119, 173, 255);
}

.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}